<div class="container">
    <table>
        <tr>
            <th>id</th>
            <th>nome</th>
            <th>idade</th>
            <th>raça</th>
            <th>gênero</th>
            <th>tipo</th>
        </tr>
        {% for animal in animais %}
        <tr>            
            <td>{{animal.id_animal}}</td>
            <td>{{animal.nome}}</td>
            <td>{{animal.idade}}</td>
            <td>{{animal.raça}}</td>
            <td>{{animal.gênero}}</td>
            <td>{{animal.tipo}}</td>
        </tr>
        {% endfor %}
    </table>
</div>