<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Animais para Adoção</h1>
        <div class="dog-list">
            <!-- Repetir este bloco para cada cachorro -->
            <!-- Inserir lista de cachorros-->
            </div>
            {% for animal in animais %}
            <div class="dog">
                <img src="{% static 'img\btexp\Rectangle 315.png' %}" alt="Cachorro 1">
                <h2>{{ animal.nome }}</h2>
                <p>Raça: {{ animal.raça }}</p>
                <p>Idade: {{ animal.idade }}</p>
                <p>Gênero: {{ animal.gênero }}</p>
                <a href="{% url 'page_adote' id_animal=animal.id_animal %}"><button>Adotar</button></a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>