<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        {% for animal in animais %}
        <div class="dog">
            <img src="{% static 'img\btexp\Rectangle 315.png' %}" alt="Cachorro 1">
            <h2>{{ animal.nome }}</h2>
            <p>Raça: {{ animal.raça }}</p>
            <p>Idade: {{ animal.idade }}</p>
            <p>Gênero: {{ animal.gênero }}</p>
            <button>❤Adotar</button>
        </div>
        {% endfor %}
    </div>
</body>
</html>