<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <title>Abrigo amigo!</title> 
</head>
<body>
    <header class="main">
        <div class="logo">
            <a><span style="color:#FFCA67;">Abrigo </span>Amigo</a>
        </div>
        <ul>
            <li><a href="#Inicio" onclick="mostrarOcultar('Inicio')" class="Active_tag">Inicio</a></li>
            <li><a href="#Explorar" onclick="mostrarOcultar('Explorar')" class="Active_tag">Explorar</a></li>
            <li><a href="#Quem_somos" onclick="mostrarOcultar('Quem_somos')" class="Active_tag">Quem somos?</a></li>
        </ul>
    </header>
        <div id="Inicio">
            <div class="content">
                <img src="{% static 'img\image 2.png' %}" alt="dogcat">
                <h1>Olá, seja bem-vindo ao <br> Abrigo Amigo</h1>
                <div class="container-button">
                    <a href="{% url 'dogs_page' %}"><button class="btn" ><img src="{% static 'img\bt\OIP-removebg-preview 2.png' %}" alt="Dog"> Cães</button></a>
                    <a href="{% url 'cats_page' %}"><button class="btn" ><img src="{% static 'img\bt\gato_icon-removebg-preview 2.png' %}" alt="cat"> Gatos</button></a>
                    <a href="{% url 'doacao' %}"><button class="btn" ><img src="{% static 'img\bt\istockphoto-1412271163-612x612-removebg-preview 3.png' %}" alt="doação">Doação</button></a>
                    <a href="{% url 'denuncia' %}"><button class="btn" ><img src="{% static 'img\bt\fun-cartoon-3d-police-character_680902-779-removebg-preview 4.png' %}" alt="denúncia">Denúncias</button></a>
                </div>
            </div>
        </div>
        <div id="Explorar" style="display: none;" >
            <div class="line"></div>
            <div class="container">
                <h1>Animais para Adoção</h1>
                <div class="dog-list">
                    </div>
                    {% for animal in animais %}
                    <div class="dog">
                        <img src="{% static 'img\btexp\Rectangle 315.png' %}" alt="Cachorro 1">
                        <h2>{{ animal.nome }}</h2>
                        <p>Raça: {{ animal.raça }}</p>
                        <p>Idade: {{ animal.idade }}</p>
                        <p>Gênero: {{ animal.gênero }}</p>
                        <a href="{% url 'page_adote' id_animal=animal.id_animal %}"><button>Adotar</button></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <section>
            <div id="Quem_somos" style="display: none;">
                <div class="classeteste">
                    <img id="sas" src="{% static 'img\qmsomos\Ellipse 9.png' %}" alt="emoji-teste">
                    <h1>Quem somos?</h1>
                    <h3>O Abrigo Amigo é um insituto sem fins<br> lucrativos que se localizado na cidade<br> de Arcoverde no Estado de Pernambuco,<br> com o intuito de garantir um lar com<br> todos os cuidados para animais em<br> situações de abandono.</h3>
                    <div class="links-img">
                        <a href=""><img src="{% static 'img\qmsomos\Facebook.png' %}" alt="logo-face"></a>
                        <a href=""><img src="{% static 'img\qmsomos\Instagram.png' %}" alt="logo-insta"></a> 
                        <a href=""><img src="{% static 'img\qmsomos\🦆 icon _twitter original_.png' %}" alt="logo-tw"></a>
                        <a href=""><img src="{% static 'img\qmsomos\Phone.png' %}" alt="logo-phone"></a>
                        <a href=""><img src="{% static 'img\qmsomos\Circled Envelope.png' %}" alt="logo-email"></a>
                    </div>
                </div>
            </div>
        </section>
        <script>
            function mostrarOcultar(id) {
                var elementos = document.querySelectorAll('[id^="Inicio"], [id^="Explorar"], [id^="Quem_somos"]');
                elementos.forEach(function(elemento) {
                    elemento.style.display = "none";
                });
                
                var divSelecionada = document.getElementById(id);
                if (divSelecionada) {
                    divSelecionada.style.display = "block";
                }
            }
        </script>
</body>
</html>