<!-- detalhes_produto.html -->
<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Detalhes do Animal</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <header class="main">
        <div class="logo">
            <a><span style="color:#FFCA67;">Abrigo </span>Amigo</a>
        </div>
        <ul>
            <li><a href="{% url 'home' %}" onclick="mostrarOcultar('Inicio')" class="Active_tag">Inicio</a></li>
            <li><a href="{% url 'home' %}" onclick="mostrarOcultar('Explorar')" class="Active_tag">Explorar</a></li>
            <li><a href="{% url 'home' %}" onclick="mostrarOcultar('Quem_somos')" class="Active_tag">Quem somos?</a></li>
        </ul>
    </header>
    {{animal.nome}}
    {{animal.idade}}
    {{animal.gênero}}
    {{ animal.raça }}
    <div class="pre-form">
        <form action="https://formsubmit.co/cadusilvateno@gmail.com" method="post">
        <h1>Adoção</h1>
        <h2>Olá, Você pode me adotar<br> preenchendo o formulario a seguir:</h2>
        <h2>Dados pessoais</h2>
        <label for="name">Nome</label>
        <input type="text" name="name">
        <label for="email">Email</label>
        <input type="email" name="email" required>
        <label for="idade">Idade</label>
        <input type="text">
        <label for="gênero">Gênero</label>
        <input type="text">
        <label for="cpf">CPF</label>
        <input type="number">
        <label for="telefone">Telefone</label>
        <input type="number">
        <h2>Endereço</h2>
        <label for="cep">CEP</label>
        <input type="text">
        <label for="logradouro">Logradouro</label>
        <input type="text">
        <label for="num">Número</label>
        <input type="number">
        <label for="bairro">Bairro</label>
        <input type="text">
        <label for="cidade">Cidade</label>
        <input type="text">
        <label for="uf">UF</label>
        <input type="text">
        <button type="submit">Confimar</button>
        <input type="hidden" name="_captcha" value="false">
        </form>

    </div>
    <script>
        function mostrarOcultar(id) {
            var elementos = document.querySelectorAll('[id^="Inicio"], [id^="Explorar"], [id^="Quem_somos"]');
            elementos.forEach(function(elemento) {
                elemento.style.display = "none";
            });
            
            var divSelecionada = document.getElementById(id);
            if (divSelecionada) {
                divSelecionada.style.display = "block";
            }
        }
    </script>
</body>
</html>
